<div class="container">
    <div class="dashboard">
        <h2>Dashboard</h2>
        <h3>Total number of entries : {{length}}</h3>
    </div>
    <div class="head">
        <h3>Network Management System</h3>
        <button class="btn btn-primary" (click)="tocreate()">Create New Entry</button>
    </div>
    <div class="row">
        <div class="col" *ngFor="let res of data">
            <div class="card" style="width: 18rem; margin-top: 30px;">
                <div class="card-body">
                    <h5 class="card-title">{{res.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Version : {{res.version}}</h6>
                    <p class="card-text">Brand :{{res.brand}}</p>
                    <a class="card-link" (click)="edit(res)">Edit</a>
                    <a class="card-link" (click)="deleteRecord(res.id)">Delete</a>
                    <a class="card-link send" (click)="sendDetails(res)">See details</a>
                </div>
            </div>
        </div>
    </div>

</div>