<div class="container">
    <div class="full-length">
        <div class="card" style="width: 70%; margin-top: 30px;">
            <div class="card-body">
                <h5 class="card-title">{{data.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Version : {{data.version}}</h6>
                <p class="card-text">Brand :{{data.brand}}</p>
                <p class="card-text">Description :{{data.description}}</p>
                <a class="card-link back" (click)="goback()">Back</a>
            </div>
        </div>

    </div>
</div>